<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <h1>Reactive approach</h1>
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <div formGroupName="userData2">
          <div class="form-group">
            <label for="username2">Username</label>
            <input type="text" id="username2" class="form-control" formControlName="username2">
            <span class="form-text"
              *ngIf="!signupForm.get('userData2.username2').valid && signupForm.get('userData2.username2').touched">Please
              enter a valid
              username!</span>
          </div>
          <div class="form-group">
            <label for="email2">Email</label>
            <input type="text" id="email2" class="form-control" formControlName="email2">
            <span class="form-text"
              *ngIf="!signupForm.get('userData2.email2').valid && signupForm.get('userData2.email2').touched">Please
              enter a valid email address!</span>
          </div>
        </div>
        <div class="radio" *ngFor="let gender of genders">
          <label>
            <input type="radio" [value]="gender" formControlName="gender">{{ gender }}
          </label>
        </div>
        <div formArrayName="hobbies">
          <h3>Your Hobbies</h3>
          <button class="btn btn-secondary" type="button" (click)="onAddHobby()">Add hobby</button>
          <div class="form-group" *ngFor="let hobbyControl of getHobbyControls(); let i = index">
            <input type="text" class="form-control" [formControlName]="i">
          </div>
        </div>
        <p class="form-text" *ngIf="!signupForm.valid && signupForm.touched">Please
          enter valid data!</p>
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>